.App {
  min-height: 100vh;
  background-color: whitesmoke;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.shadow {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.white-background {
  background-color: white;
}

p {
  padding: 0;
  margin: 0;
}

hr {
  margin: 10px;
}

.loader {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(40, 40, 40);
}

.App-content {
  position: relative;
  top: 40px;
  width: 100%;
  height: 90vh;
  font-size: calc(10px + 2vmin);
  color: rgb(40, 40, 40);
}

.view-title {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 24px 0px;
  position: relative;
}

.view-title .username {

  margin-top: -0.97px;
  position: relative;
  width: fit-content;
  color: #333333;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  top: 0;
  transform: rotate(-0.02deg);
  white-space: nowrap;
}

.second-row {
  /* height: 60vh; */
  padding-top: 20px;
  width: 95%;
  margin: 5px;
}

.summary {
  /* flex: 1; */
  width: 50%;
  padding: 20px;
  margin: 5px;
  margin-right: 15px;
}

.property1 {
  color: #5b58e7;
}

.property2 {
  color: #2db6f5;
}

.card-holder {
  margin: 10px;
  padding: 15px;
  width: 50%;
  /*height: 50%; */
}

.chart-holder {
  padding: 10px;
  width: 50%;
}

.side-cards {
  width: 50%;
}

.side-cards-row {
  display: flex;
  width: 100%;
}

.sideCard-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 45%;
  margin: 5px;
}

.sidecard3 {
  margin: 10px;
  margin-top: 0;
  height: 28vh;
}
.sidecard4 {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  height: 28vh;
}

.third-row {
  height: 20vh;
  width: 100%;
  padding-top: 20px;
  margin: 5px;
}
.bottom-row {
  display: flex;
  width: 100%;
}

.bottom-cards {
  width: 30%;
  margin: 10px;
  padding: 15px;
}

.property-container {
  width: 100%;
  padding: 20px;
}

.card-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2vw;
  @media (max-width: 767px) {
    font-size: 6vw;
  }
}
.card-subtitle {
  font-weight: normal;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 5px;
  @media (max-width: 767px) {
    font-size: 4.5vw;
  }
}
.card-text {
  font-weight: normal;
  font-size: 1vw;
  margin-bottom: 5px;
  @media (max-width: 767px) {
    font-size: 3vw;
  }
}
.card-subtext {
  font-weight: normal;
  font-size: 1vw;
  color: grey;
  margin-bottom: 5px;
  @media (max-width: 767px) {
    font-size: 3vw;
  }
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .summary {
    width: 80vw;
  }
  .side-cards {
    width: 80vw;
  }
  .side-cards-row {
    flex-direction: column;
  }
  .sideCard-col {
    width: 80vw;
  }
  .bottom-row {
    flex-direction: column;
  }
  .bottom-cards {
    width: 80vw;
  }
}
